.dark {
  background: black;
  color: white;
  .navbar, .navbar-brand:hover, .navbar-nav li a:hover, .navbar-nav > .active > a, .navbar-nav > li > a:focus {
    background: black;
  }
  .source-title {
    background: #2C3E50;
  }
  a {
    color: #CCC;
  }
  a:hover {
    color: #AAA;
  }
  .article-list article {
    border-color: #333;
  }
  .page-title {
    background: #222;
  }
  .jumbotron {
    background: black;
  }
}
