$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$background: white;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;
}
